<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Add Employee</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/employees/add">
    <div class="form-group">
        <label>First Name
            <input th:field="${employee.firstName}" class="form-control">
        </label>
        <label>Last Name
            <input th:field="${employee.lastName}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Position
            <input th:field="${employee.position}" class="form-control">
        </label>
    </div>
    <div>
        <p>Date of birth (dd/mm/yyyy)</p>
        <label>Month
            <input type="number" th:field="${employee.month}" min="01" max="12">
        </label>
        <label>Day
            <input type="number" th:field="${employee.day}" min="01" max="30">
        </label>
        <label>Year
            <input type="number" th:field="${employee.year}">
        </label>
    </div>
    <div>
        <input type="submit" value="Add Employee" class="btn btn-success">
    </div>
</form>

</body>
</html>