<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Delete Employee</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/employees/delete">

    <th:block th:each="employee : ${employees}">
        <div class="form-group">
            <label>
                <span th:text="${employee.firstName + ' ' + employee.lastName}"></span>
                <input type="checkbox" name="employeeIds" th:value="${employee.id}" class="form-control">
            </label>
        </div>

    </th:block>

    <div>
        <input type="submit" value="Delete Employee" class="btn btn-danger">
    </div>
</form>

</body>
</html>