<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Employees</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${employees} and ${employees.size()}">No employees.</p>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<div class="table-responsive">
<table class="sortable table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
        </tr>
    </thead>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
    </tr>
</table>
</div>
</body>
</html>