<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Employee Directory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="header">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link">Add Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Edit Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Archive Employee</a>
        </li>
    </ul>

</nav>

</body>
</html>